@import "variables";

html,
body {
  height: 100%
}

body {
  align-items: center;
  display: flex;
  font-family: "Helvetica Neue";
  margin: 0;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;

  h1 {
    color: $heading-color;
    font-weight: 200;
    text-align: center;
  }

  .image-holder {
    background-image: url("./images/dummy-image.png");
    width: 586px;
    height: 424px;
  }
}
